.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .pagination li button:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination li.active button {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  